@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-500: #3949ab;
$primary-700: #303f9f;
$accent-200: #ff80ab;
$warn-500: #e53935;

$border-radius-sm: 6px;
$border-radius-md: 10px;

:root {
  --app-font-family: "Roboto", sans-serif;
  --app-primary: #{$primary-500};
  --app-accent: #{$accent-200};
  --app-warn: #{$warn-500};
  --app-border-radius-sm: #{$border-radius-sm};
  --app-background: #495c91;
}

// * {
//   font-family: 'Roboto', sans-serif;
// }

html,
body {
  font-family: var(--app-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--app-background);
}
